<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <script type="text/javascript" src="/LBStore/js/jquery-barcode.js"></script>
        <script type="text/javascript">
            var fhJson = {};
            var index = 0;
            $(document).ready(function () {
                fhJson = bbFaHuo;
                jxFaHuoDan4Dy(fhJson);
                selKeHu(fhJson.kh_id);
                $("#dvFmFaHuoDan").show();
                $("#ckBaoBiao").css("width", "250mm");
            });

            function selKeHu(id) {
                $.ajax({
                    url: "/LBStore/keHu/getKeHuById.do?id=" + id,
                    contentType: "application/json",
                    type: "get",
                    dataType: "json",
                    cache: false,
                    error: function (msg, textStatus) {

                    },
                    success: function (json) {
                        if (json.result === 0) {
                            var kh = json.keHu;
                            $("#khmc").html("顾客：" + kh.mc);
                            $("#khlxfs").html("地址：" + kh.dz);
                            $("#khlxdh").html("电话：" + kh.lxdh);
                        }
                    }
                });
            }

            function jxFaHuoDan4Dy(json) {
                var a01 = window.top.loadUser;
                if (json.lsh && json.lsh !== null) {
                    $("#tblZiHao").barcode(json.lsh, "code128", {barWidth: 2, barHeight: 40, fontSize: 17, marginHRI: 0});
                    $("#djbh").html("编号：" + json.lsh);
                }
                $("#djrq").html("日期：" + json.sj.substring(0, 10));
                $("#zdr").html("制单人：" + a01.mc);
                $("#tblFhd_cp tr:not(:first)").remove();
                paiXu(json.details);
                var zongJE = 0;
                var zsl = 0;
                for (var i = 0; i < json.details.length; i++) {
                    var e = json.details[i];
                    zongJE += e.fhdj * e.fhl;
                    zsl += e.fhl;
                    $("#tblFhd_cp").append("<tr><td style='text-align: center'>" + (i + 1) + "</td>\n\
                                <td>" + e.wzbm + "</td>\n\
                                <td>" + e.wzmc + "</td>\n\
                                <td>" + e.xhgg + "</td>\n\
                                <td style='text-align: center'>" + e.dw + "</td>\n\
                                <td style='text-align: right'>" + e.fhl + "</td>\n\
                                <td style='text-align: right'>" + e.fhdj.toFixed(3) + "</td>\n\
                                <td style='text-align: right'>" + (e.fhdj * e.fhl).toFixed(3) + "</td>\n\
                                <td><input type='text' value='" + (e.bz === null ? "" : e.bz) + "' style='width:100%;height:9mm;border:none;' /></td></tr>");
                }
                $("#tblFhd_cp").append("<tr><td colspan='2' style='border-right:none;'>合计 数量：<a id='heJi'>" + zsl + "</a></td>\n\
                                <td colspan='2' style='border-right:none;border-left:none;'>金额：<a id='heJi'>" + fhJson.je.toFixed(3) + "</a></td>\n\
                                <td colspan='3' style='border-right:none;border-left:none;'>已付：" + fhJson.yfje.toFixed(3) + "</td>\n\
                                <td colspan='2' style='border-left:none;'>尚欠：" + (fhJson.je - fhJson.yfje).toFixed(3) + "</td></tr>");
            }

            function dyFaHuoDan4Dy2() {
                var height = parseInt($("#tblFhd_cp").css("height"));
                var len = $("#tblFhd_cp tr").length;
                var pages = Math.floor((height - 1) / 350) + 1;
                var rowIndex = 0;
                var printPages = [];
                for (var i = 0; i < pages; i++) {
                    $("#tblFhd_cp tr").hide();
                    $("#tblFhd_cp tr:eq(0)").show();
                    var printFlag = false;
                    var tempIndexs = [];
                    while (true) {
                        rowIndex++;
                        if (rowIndex === len || rowIndex > len) {
                            break;
                        }
                        $("#tblFhd_cp tr:eq(" + rowIndex + ")").show();
                        tempIndexs.push(rowIndex);
                        printFlag = true;
                        var tempHeight = parseInt($("#tblFhd_cp").css("height"));
                        if (tempHeight >= 350) {
                            break;
                        }
                    }
                    if (printFlag) {
                        if (tempIndexs.length > 0) {
                            printPages.push(tempIndexs);
                        }
                    }
                }
                printTexts = [];
                index = -1;
                for (var i = 0; i < printPages.length; i++) {
                    $("#tblFhd_cp tr").hide();
                    $("#tblFhd_cp tr:eq(0)").show();
                    $("#tblYeShu").html("页数：" + printPages.length + "-" + (i + 1));
                    var tempIndexs = printPages[i];
                    for (var j = 0; j < tempIndexs.length; j++) {
                        var tempIndex = tempIndexs[j];
                        $("#tblFhd_cp tr:eq(" + tempIndex + ")").show();
                    }
                    var s = $("#dvFmFaHuoDan").html();
                    printTexts.push(s);
                }
                print();
            }

            function print() {
                index = index + 1;
                var s = printTexts[index];
                window.PrintText(s, 1, 210, 140);
            }

            function dyFaHuoDan4Dy() {
                var s = $("#dvFmFaHuoDan").html();
                try {
                    parent.parent.webObject.printTick(s);
                } catch (e) {
                    window.PrintText(s, 1, 210, 140);
                }
            }

            function paiXu(details) {
                var i = details.length, j;
                var fhddetail;
                while (i > 0) {
                    for (j = 0; j < i - 1; j++) {
                        if (parseInt(details[j].txm) > parseInt(details[j + 1].txm)) {
                            fhddetail = details[j];
                            details[j] = details[j + 1];
                            details[j + 1] = fhddetail;
                        }
                    }
                    i--;
                }
            }
        </script>
    </head>
    <body>
        <div>
            <table id="tblFmFaHuoDanTools" style="width:98%;margin-top: 5px;">
                <tr class="noBorder">
                    <td>
                        <input type="button" value="打印" onclick="dyFaHuoDan4Dy();">
                    </td>
                </tr>
            </table>
        </div>
        <div id="dvFmFaHuoDan" style="width: 210mm;">
            <div style="width: 210mm;">
                <style type="text/css">
                    table#tblFmFaHuoDan,#tblFhd_cp{
                        font-family:"宋体";
                        position: relative;
                        float: left;
                        width: 100%;
                        text-align: left;
                        border-spacing: 0px;
                        border-collapse: collapse;
                        empty-cells: show;
                        cursor: pointer;
                        margin: 0;
                        padding: 0;
                    }
                    table#tblFmFaHuoDan td{
                        font-family:"宋体";
                        font-size: 4mm;
                        height: 8mm;
                        border: 1px #000 solid;
                        padding-left: 3px;
                    }
                    table#tblFmFaHuoDan tr.noBorder td{
                        border: none;
                    }
                    tr.tou td{
                        text-align: center;
                    }
                </style>
                <table id="tblFmFaHuoDan" style="width:98%;margin-top: 5px;">
                    <tr class="noBorder">
                        <td colspan="3" style="padding: 0;">
                            <table style="width: 100%;">
                                <tr>
                                    <td style="width: 20%;"></td>
                                    <td id="biaoTi" style="text-align: left; width: 54%; font-weight:900; font-size: 9mm; text-decoration: underline;">柳州市阡陌贸易有限公司</td>
                                    <td rowspan="2"><div id="tblZiHao"></div></td>
                                </tr>
                                <tr>
                                    <td style="width: 20%;"></td>
                                    <td id="biaoTi" style="vertical-align: top;height: 8mm;text-align: left; width: 54%; font-size: 4.5mm;">电话：</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr style="height: 4mm;">
                        <td colspan="3" style="height: 4mm;border: none;">
                            <table style="width: 100%;">
                                <tr style="height: 4mm;">
                                    <td id="djrq" style="width: 35%; vertical-align: bottom; height: 4mm;">日期：</td>
                                    <td id="djbh" style="width: 35%; vertical-align: bottom; height: 4mm;">编号：</td>
                                    <td id="zdr" style="width: 30%; vertical-align: bottom; height: 4mm;">制单人：</td>
                                </tr><tr style="height: 4mm;">
                                    <td id="khmc" style="width: 35%; vertical-align: bottom; height: 4mm;border-bottom: none;">顾客：</td>
                                    <td id="khlxfs" style="width: 35%; vertical-align: bottom; height: 4mm;border-bottom: none;">地址：</td>
                                    <td id="khlxdh" style="width: 30%; vertical-align: bottom; height: 4mm;border-bottom: none;">电话：</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" style="border: none">
                            <table id="tblFhd_cp" style="width: 100%;table-layout: fixed;">
                                <tr class="tou">
                                    <td style="width: 5%">行号</td>
                                    <td style="width: 15%">编&nbsp;码</td>
                                    <td style="width: 15%">名&nbsp;称</td>
                                    <td style="width: 10%">规&nbsp;格</td>
                                    <td style="width: 8%">单&nbsp;位</td>
                                    <td style="width: 8%">数&nbsp;量</td>
                                    <td style="width: 8%">单&nbsp;价</td>
                                    <td style="width: 10%">金&nbsp;额</td>
                                    <td>备&nbsp;&nbsp;注</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <!--<tr class="noBorder">
                            <td colspan="3" style="text-align:left;">
                                收货单位应遵守事项：<br/>
                                1、收货单位把货款在&nbsp;&nbsp;&nbsp;&nbsp;年&nbsp;&nbsp;月&nbsp;&nbsp;日前付清。逾期付款，按欠款总额日罚万分之五违约金。<br/>
                                2、收货后如发现质量问题（在不损坏情况下）应在三天内书面通知核实，否则责任自负。<br/>
                                3、收货清单一式三份，购、销双方各执一份，存根一份。收货方验收货物签字后产生合同作用。</td>
                    </tr>-->
                    <tr class="noBorder">
                        <td style="text-align: left;width: 12%;">收货单位：</td>
                        <td style="text-align:left;width: 50%"></td>
                        <td style="text-align: left;">送货人：</td>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>