<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/LBStore/content/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <link href="/LBStore/content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
        <link href="/LBStore/content/bootstrap/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
        <link href="/LBStore/content/autocomplete/autocomplete.css" rel="stylesheet" />
        <link href="/LBStore/css/base.css" rel="stylesheet" />
        <script src="/LBStore/js/jquery2.js"></script>
        <script src="/LBStore/js/jquery.form.js"></script>
        <script src="/LBStore/content/bootstrap/js/bootstrap.min.js"></script>
        <script src="/LBStore/content/bootstrap/js/bootstrap-paginator.js"></script>
        <script src="/LBStore/content/bootstrap/js/bootstrap-datetimepicker.min.js"></script>
        <script src="/LBStore/content/bootstrap/js/bootstrap-datetimepicker.zh-CN.js"></script>
        <script src="/LBStore/content/autocomplete/autocomplete.js"></script>
        <script src="/LBStore/view/common/common.js"></script>
        <script src="/LBStore/view/common/detail.js"></script>
        <script src="/LBStore/view/common/spesx.js"></script>
        <script src="/LBStore/view/cangKu/huanKu/huanKu.js"></script>
    </head>
    <body style='height:800px;'>
        <div style="float:left; width: 100%">
            <div style="width: 100%">
                <div style="width: 100%;float:left; padding-top: 5px;">
                    <span>&nbsp;仓库：</span><input id="selCangKu" type="text" style="width: 120px;" />
                    <span>&nbsp;物资：</span><input id="selWzmc" type="text" style="width: 120px;" />
                    <span>&nbsp;流水号：</span><input id="selLsh" type="text" style="width: 120px;" />
                    <span>&nbsp;状态：</span>
                    <select id="selState" style="width: 100px; height: 26px;line-height: 26px;">
                        <option value="-9" selected = "selected">全部</option>
                        <option value="0">未处理</option>
                        <option value="1">已处理</option>
                        <option value="-1">已删除</option>
                    </select>
                    <button type="button" class="btn btn-primary btn-sm" onclick="selectHuanKu();" style="margin-left: 2px;">查找</button>
                    <button type="button" class="btn btn-primary btn-sm" onclick="showSelectHuanKu();" style="margin-left: 2px;">更多查找</button>
                </div>
                <div style="width: 100%;float:left; padding-top: 5px;">
                    <button type="button" class="btn btn-primary btn-sm" onclick="addHuanKu();">新增还库单</button>
                </div>
            </div>
            <div id="list1" class="table-responsive" style="height: 678px;width:100%;padding-top: 5px;">
                <table id="data_table" class="table table-striped table-bordered table-hover table-list" style="table-layout:fixed;">
                    <thead>
                        <tr style="background: #e9f7ff;">
                            <th style="width:8%">仓库</th>
                            <th style="width:10%">流水号</th>
                            <th style="width:8%">单号</th>
                            <th style="width:15%">物资</th>
                            <th style="width:11%">还库时间</th>
                            <th style="width:8%">数量</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody id='data_table_body'>
                        <tr><td>请查询还库单记录</td></tr>
                    </tbody>
                </table>
            </div>
            <ul id="example"></ul>
        </div>

        <div class="modal fade" id="huanKuSelectModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="background: #ace1ff;height: 40px;border-top-left-radius: 6px;border-top-right-radius: 6px;padding:10px">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="huanKuSelectModel_title">查询还库单</h4>
                    </div>
                    <div class="modal-body">
                        <div class="content">
                            <div class="form-group">
                                <label for="inpSelCk">仓&ensp;&ensp;库：</label>
                                <input type="text" id="inpSelCk" />
                            </div>
                            <div class="form-group">
                                <label for="inpSelState">状&ensp;&ensp;态：</label>
                                <select id="inpSelState" style="width: 170px; height: 26px;line-height: 26px;">
                                    <option value="-9" selected = "selected">全部</option>
                                    <option value="0">未处理</option>
                                    <option value="1">已处理</option>
                                    <option value="-1">已删除</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="inpSelWz">物&ensp;&ensp;资：</label>
                                <input type="text" id="inpSelWz" />
                            </div>
                            <div class="form-group">
                                <label for="inpSelRq">日&ensp;&ensp;期：</label>
                                <input type="text" id="inpSelQrq" />-<input type="text" id="inpSelZrq" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" style="text-align: center;padding: 8px;">
                        <button type="submit" class="btn btn-primary" onclick="selectHuanKu_m()">确定</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="huanKuModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" style="width: 800px;">
                <div class="modal-content">
                    <div class="modal-header" style="background: #ace1ff;height: 40px;border-top-left-radius: 6px;border-top-right-radius: 6px;padding:10px">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="huanKuModel_title">添加还库单</h4>
                    </div>
                    <div class="modal-body">
                        <div class="content">
                            <div class="form-group">
                                <label for="inpCk">仓&ensp;&ensp;库：</label>
                                <input type="text" id="inpCk" />
                                <label for="inpDh">单&ensp;&ensp;号：</label>
                                <input type="text" id="inpDh" />
                            </div>
                            <div class="form-group">
                                <label for="inpSl">数&ensp;&ensp;量：</label>
                                <input type="number" id="inpSl" />
                                <label for="inpJe">金&ensp;&ensp;额：</label>
                                <input type="number" id="inpJe" />
                            </div>
                            <div class="form-group">
                                <label for="inpHkr">操作人：</label>
                                <input type="text" id="inpHkr" />
                                <label for="inpSj">操作日：</label>
                                <input type="text" id="inpSj" />
                            </div>
                            <div id="divSpr" class="form-group">
                                <label for="inpSpr">审批人：</label>
                                <input type="text" id="inpSpr" />
                                <label for="inpSpsj">审批日：</label>
                                <input type="text" id="inpSpsj" />
                            </div>
                            <div class="form-group">
                                <label for="inpYy">原&ensp;&ensp;由：</label>
                                <input type="text" id="inpYy" style="width: 415px;"/>
                            </div>
                            <div class="form-group">
                                <label for="inpBz">备&ensp;&ensp;注：</label>
                                <input type="text" id="inpBz" style="width: 415px;"/>
                            </div>
                            <div id="divXzmx" class="form-group">
                                <button type="button" class="btn btn-primary btn-sm" onclick="addHuanKuMingXi();">新增明细</button>
                            </div>
                            <div style="min-height: 100px;max-height: 300px;overflow-y: auto;">
                                <table id="tblWuZiMingXi" class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr style="background: #e9f7ff;">
                                            <th style="width:25%">名称</th>
                                            <th style="width:15%">品牌</th>
                                            <th style="width:20%">型号规格</th>
                                            <th style="width:12%">还库量</th>
                                            <th style="width:12%">金额</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody id='tblWuZiMingXi_body'>
                                        <tr><td>无明细记录</td></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" style="text-align: center;padding: 8px;">
                        <label class="bb-element"  for="inpSelBb">报表：</label>
                        <input class="bb-element" type="text" id="inpSelBb" />
                        <button id="btnBb" type="submit" class="bb-element btn btn-primary" onclick="execBaoBiao()">执行</button>
                        <button id="btnOk" type="submit" class="btn btn-primary" onclick="saveHuanKu()">保存</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="huanKuMingXiModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" style="width: 800px;">
                <div class="modal-content">
                    <div class="modal-header" style="background: #ace1ff;height: 40px;border-top-left-radius: 6px;border-top-right-radius: 6px;padding:10px">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="huanKuMingXiModel_title">添加明细</h4>
                    </div>
                    <div class="modal-body">
                        <div class="content">
                            <div class="form-group">
                                <label for="inpMxWzbm">物资编码：</label>
                                <input type="text" id="inpMxWzbm" disabled="disabled"/>
                                <label for="inpMxWz">物资名称：</label>
                                <input type="text" id="inpMxWz" disabled="disabled"/>
                                <label for="inpMxLb">物资类别：</label>
                                <input type="text" id="inpMxLb" disabled="disabled"/>
                            </div>
                            <div class="form-group">
                                <label for="inpMxPp">品&ensp;&ensp;&ensp;&ensp;牌：</label>
                                <input type="text" id="inpMxPp" disabled="disabled"/>
                                <label for="inpMxXhgg">型号规格：</label>
                                <input type="text" id="inpMxXhgg" disabled="disabled"/>
                                <label for="inpMxTxm">条&ensp;形&ensp;码：</label>
                                <input type="text" id="inpMxTxm" disabled="disabled"/>
                            </div>
                            <div class="form-group">
                                <label for="inpMxScc">生&ensp;产&ensp;厂：</label>
                                <input type="text" id="inpMxScc" disabled="disabled"/>
                                <label for="inpMxPc">批&ensp;&ensp;&ensp;&ensp;次：</label>
                                <input type="text" id="inpMxPc" disabled="disabled"/>                               
                                <label for="inpMxKw">库&ensp;&ensp;&ensp;&ensp;位：</label>
                                <input type="text" id="inpMxKwh" disabled="disabled"/>
                            </div>
                            <div class="form-group">
                                <label for="inpMxScc">生产日期：</label>
                                <input type="text" id="inpMxScrq" disabled="disabled"/>
                                <label for="inpMxBzq">保质天数：</label>
                                <input type="number" id="inpMxBzq" disabled="disabled"/>
                                <label for="inpMxBzrq">质保日期：</label>
                                <input type="text" id="inpMxBzrq" disabled="disabled"/>
                            </div>
                            <div class="form-group">
                                <label for="inpMxDj">单&ensp;&ensp;&ensp;&ensp;价：</label>
                                <input type="number" id="inpMxDj" disabled="disabled"/>
                                <label for="inpMxDw">单&ensp;&ensp;&ensp;&ensp;位：</label>
                                <input type="text" id="inpMxDw" disabled="disabled"/>
                            </div>
                            <div class="form-group">
                                <label for="inpMxJlfs">记录方式：</label>
                                <select id = "inpMxJlfs" disabled="disabled" style="width: 174px;height: 26px;">
                                    <option value="pt">普通记录</option>
                                    <option value="zl">总量记录</option>
                                    <option value="mx">单元明细</option>
                                </select>
                                <label class="form-MxBzgg" for="inpMxBzgg" style="display: none;">包装规格：</label>
                                <input class="form-MxBzgg" type="text" id="inpMxBzgg" disabled="disabled" style="display: none;"/>
                                <label class="form-MxBzgg" for="inpMxSlzlDw" style="display: none;">总量单位：</label>
                                <input class="form-MxBzgg" type="text" id="inpMxSlzlDw" disabled="disabled" style="display: none;"/>
                            </div>
                            <div id='divMxTysx'></div>                            
                            <div class="form-group">
                                <label for="inpMxLlr">领&ensp;料&ensp;人：</label>
                                <input type="text" id="inpMxLlr" disabled="disabled"/>
                                <label for="inpMxSll">领&ensp;取&ensp;量：</label>
                                <input type="number" id="inpMxSll" disabled="disabled"/>
                                <label for="inpMxHkl">还&ensp;库&ensp;量：</label>
                                <input type="number" id="inpMxHkl" />
                            </div>
                            <div id="dvMxZl" class="form-group" style="display: none;">
                                <label for="inpMxSlzl">领取总量：</label>
                                <input type="number" id="inpMxSlzl" disabled="disabled"/>
                                <label for="inpMxHkzl">还库总量：</label>
                                <input type="number" id="inpMxHkzl" />
                            </div>
                            <div class="form-group">
                                <label for="inpMxBz">备&ensp;&ensp;&ensp;&ensp;注：</label>
                                <input type="text" id="inpMxBz" style="width: 677px;"/>
                            </div>
                            <div id='divMxDymx' class="form-group" style="overflow-y: auto;min-height: 50px;max-height: 250px; display: none;">
                                <label for="tblMxDymx">单元明细：</label>
                                <table id="tblMxDymx" cellspacing="0" style="width: 100%"></table>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" style="text-align: center;padding: 8px;">
                        <button id="btnMxOk" type="submit" class="btn btn-primary" onclick="saveHuanKuMingXi()">保存</button>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="modal fade" id="selLingLiaoDetailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" style="width: 800px;">
                <div class="modal-content">
                    <div class="modal-header" style="background: #ace1ff;height: 40px;border-top-left-radius: 6px;border-top-right-radius: 6px;padding:10px">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">选择物资</h4>
                    </div>
                    <div class="modal-body">
                        <div class="content">
                            <div class="form-group">
                                <label for="inpLldSelWzlb">类&ensp;&ensp;别：</label>
                                <input type="text" id="inpLldSelWzlb" />
                                <label for="inpLldSelWz">物&ensp;&ensp;资：</label>
                                <input type="text" id="inpLldSelWz" />
                            </div>
                            <div class="form-group">
                                <label for="inpLldSelXhgg">规&ensp;&ensp;格：</label>
                                <input type="text" id="inpLldSelXhgg" />
                                <label for="inpLldSelKh">客&ensp;&ensp;户：</label>
                                <input type="text" id="inpLldSelKh" />
                            </div>
                            <div class="form-group">
                                <label for="inpLldSelGys">供应商：</label>
                                <input type="text" id="inpLldSelGys" />
                                <label for="inpLldSelLlr">入库人：</label>
                                <input type="text" id="inpLldSelLlr" />
                            </div>
                            <div class="form-group">
                                <label for="inpLldSelLsh">领料单：</label>
                                <input type="text" id="inpLldSelLsh" />
                                <label for="inpLldSelTxm">条形码：</label>
                                <input type="text" id="inpLldSelTxm" />
                            </div>
                            <div class="form-group">
                                <label for="inpLldSelRq">日&ensp;&ensp;期：</label>
                                <input type="text" id="inpLldSelQrq" />-<input type="text" id="inpLldSelZrq" />
                            </div>
                            <div id="divXzmx" class="form-group">
                                <button type="button" class="btn btn-primary btn-sm" onclick="cxLingLiaoDetail();">查询领料</button>
                            </div>
                            <div style="min-height: 100px;max-height: 300px;overflow-y: auto;">
                                <table id="tblLingLiaoDetail" class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr style="background: #e9f7ff;">
                                            <th style="width:20%">领料单号</th>
                                            <th style="width:20%">名称</th>
                                            <th style="width:10%">品牌</th>
                                            <th style="width:10%">型号规格</th>
                                            <th style="width:10%">领取数量</th>
                                            <th style="width:20%">领料时间</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody id='tblLingLiaoDetail_body'>
                                        <tr><td>无明细记录</td></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="modal fade" id="baoBiaoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" style="width: 100%">
                <div class="modal-content">
                    <div class="modal-header" style="background: #ace1ff;height: 40px;border-top-left-radius: 6px;border-top-right-radius: 6px;padding:10px">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="baoBiaoModel_title">执行报表</h4>
                    </div>
                    <div id="dvBbnr" class="modal-body" style="height:700px;padding: 0;overflow-y: auto;">
                        
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
