<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/LBStore/content/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <link href="/LBStore/content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
        <link href="/LBStore/content/autocomplete/autocomplete.css" rel="stylesheet" />
        <script src="/LBStore/js/jquery2.js"></script>
        <script src="/LBStore/js/jquery.form.js"></script>
        <script src="/LBStore/content/bootstrap/js/bootstrap.min.js"></script>
        <script src="/LBStore/content/bootstrap/js/bootstrap-paginator.js"></script>
        <script src="/LBStore/content/autocomplete/autocomplete.js"></script>
        <script src="/LBStore/view/common/common.js"></script>
        <script src="/LBStore/view/cangKu/wuZiLeiBie/wuZiLeiBie.js"></script>
    </head>
    <body style='height:800px;'>
        <div style="float:left; width: 100%">
            <div style="width: 100%">
                <div style="width: 100%;float:left; padding-top: 5px;">
                    <span>&nbsp;名称：</span><input id="selName" type="text" />
                    <span>&nbsp;状态：</span>
                    <select id="selState" style="width: 100px; height: 26px;line-height: 26px;">
                        <option value="-9" selected = "selected">全部</option>
                        <option value="0">有效</option>
                        <option value="-1">无效</option>
                    </select>
                    <button type="button" class="btn btn-primary btn-sm" onclick="selectWuZiLeiBie();" style="margin-left: 2px;">查找</button>
                </div>
                <div style="width: 100%;float:left; padding-top: 5px;">
                    <button type="button" class="btn btn-primary btn-sm" onclick="addWuZiLeiBie();">新增物资类别</button>
                </div>
            </div>
            <div id="list1" class="table-responsive" style="height: 678px;width:100%;padding-top: 5px;">
                <table id="data_table" class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr style="background: #e9f7ff;">
                        <th style="width:18%">名称</th>
                        <th style="width:18%">代码</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody id='data_table_body'>
                    <tr><td>请查询物资类别记录</td></tr>
                    </tbody>
                </table>
            </div>

            <ul id="example"></ul>
        </div>
        <div class="modal fade" id="wuZiLeiBieModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="background: #ace1ff;height: 40px;border-top-left-radius: 6px;border-top-right-radius: 6px;padding:10px">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="wuZiLeiBieModel_title">添加物资类别</h4>
                    </div>
                    <div class="modal-body">
                        <div class="content">
                            <div class="form-group">
                                <label for="inpMc">名称：</label>
                                <input type="text" id="inpMc" />
                            </div>
                            <div class="form-group">
                                <label for="inpDm">代码：</label>
                                <input type="text" id="inpDm" />
                            </div>
                            <div class="form-group" style="border-bottom: 1px solid #bcbcbc;">
                                <label for="inpBz">备注：</label>
                                <input type="text" id="inpBz" style="width: 400px;"/>
                            </div>
                            <div id='divTysx'></div>
                        </div>
                    </div>
                    <div class="modal-footer" style="text-align: center;padding: 8px;">
                        <button type="button" class="btn btn-primary" onclick="addTeYouShuXing()">增加特有属性</button>
                        <button type="submit" class="btn btn-primary" onclick="saveWuZiLeiBie()">保存</button>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="modal fade" id="teYouShuXingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="background: #ace1ff;height: 40px;border-top-left-radius: 6px;border-top-right-radius: 6px;padding:10px">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="wuZiLeiBieModel_title">添加特有属性</h4>
                    </div>
                    <div class="modal-body">
                        <div class="content">
                            <div class="form-group">
                                <label for="inpTsMc">名称：</label>
                                <input type="text" id="inpTsMc" />
                            </div>
                            <div class="form-group">
                                <label for="inpTsType">类型：</label>
                                <input type="text" id="inpTsType" />
                            </div>
                            <div class="form-group">
                                <label for="inpTsZiDian">字典：</label>
                                <input type="text" id="inpTsZiDian" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" style="text-align: center;padding: 8px;">
                        <button type="submit" class="btn btn-primary" onclick="saveTeYouShuXing()">保存</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
