<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/LBStore/content/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <link href="/LBStore/content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
        <link href="/LBStore/content/autocomplete/autocomplete.css" rel="stylesheet" />
        <script src="/LBStore/js/jquery2.js"></script>
        <script src="/LBStore/js/jquery.form.js"></script>
        <script src="/LBStore/content/bootstrap/js/bootstrap.min.js"></script>
        <script src="/LBStore/content/bootstrap/js/bootstrap-paginator.js"></script>
        <script src="/LBStore/content/autocomplete/autocomplete.js"></script>
        <script src="/LBStore/view/common/common.js"></script>
        <script src="/LBStore/view/common/table.js"></script>
        <script src="/LBStore/view/zuZhi/a01/a01.js"></script>
    </head>
    <body style='height:800px;'>
        <div style="float:left; width: 100%">
            <div style="width: 100%">
                <div style="width: 100%;float:left; padding-top: 5px;">
                    <span>&nbsp;姓名：</span><input id="selName" type="text" />
                    <span>&nbsp;状态：</span>
                    <select id="selState" style="width: 100px; height: 26px;line-height: 26px;">
                        <option value="-9" selected = "selected">全部</option>
                        <option value="0">有效</option>
                        <option value="-1">无效</option>
                    </select>
                    <button type="button" class="btn btn-primary btn-sm" onclick="selectA01();" style="margin-left: 2px;">查找</button>
                </div>
                <div style="width: 100%;float:left; padding-top: 5px;">
                    <button type="button" class="btn btn-primary btn-sm" onclick="addA01();">新增员工</button>
                </div>
            </div>
            <div id="list1" class="table-responsive" style="height: 678px;width:100%;padding-top: 5px;">
                <table id="data_table" class="table table-hover">
                    <thead>
                    <tr>
                        <th style="width:18%">编号</th>
                        <th style="width:18%">姓名</th>
                        <th style="width:18%">性别</th>
                        <th style="width:18%">职位</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody id='data_table_body'>
                    <tr><td>请查询员工记录</td></tr>
                    </tbody>
                </table>
            </div>

            <ul id="example"></ul>
        </div>
        <div class="modal fade" id="a01Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="background: #ace1ff;height: 40px;border-top-left-radius: 6px;border-top-right-radius: 6px;padding:10px">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="a01Model_title">添加员工</h4>
                    </div>
                    <div class="modal-body">
                        <div class="content">
                            <div class="form-group">
                                <label for="inpBh">编&ensp;&ensp;&ensp;&ensp;号：</label>
                                <input type="text" id="inpBh" />
                            </div>
                            <div class="form-group">
                                <label for="inpMc">姓&ensp;&ensp;&ensp;&ensp;名：</label>
                                <input type="text" id="inpMc" />
                            </div>
                            <div class="form-group">
                                <label for="inpDm">代&ensp;&ensp;&ensp;&ensp;码：</label>
                                <input type="text" id="inpDm" />
                            </div>
                            <div class="form-group">
                                <label for="inpA0111">性&ensp;&ensp;&ensp;&ensp;别：</label>
                                <select id="inpA0111" style="width: 174px; height: 26px;line-height: 26px;">
                                    <option value="男" selected = "selected">男</option>
                                    <option value="女">女</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="inpA0105">职&ensp;&ensp;&ensp;&ensp;位：</label>
                                <input type="text" id="inpA0105" />
                            </div>
                            <div class="form-group">
                                <label for="inpPassword">登录密码：</label>
                                <input type="password" id="inpPassword" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" style="text-align: center;padding: 8px;">
                        <button type="submit" class="btn btn-primary" onclick="saveA01()">保存</button>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="modal fade" id="a01QxModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="background: #ace1ff;height: 40px;border-top-left-radius: 6px;border-top-right-radius: 6px;padding:10px">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="a01QxModel_title">权限设置</h4>
                    </div>
                    <div class="modal-body">
                        <div class="content">
                            <div class="form-group">
                                <label for="tblQx">权限：</label>
                                <table id="tblQx" class="table-bordered" style="width: 100%;"></table>
                            </div>
                            
                        </div>
                    </div>
                    <div class="modal-footer" style="text-align: center;padding: 8px;">
                        <button type="submit" class="btn btn-primary" onclick="saveA01Qx()">保存</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
