<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>修改密码</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/LBStore/content/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <link href="/LBStore/content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
        <link href="/LBStore/content/autocomplete/autocomplete.css" rel="stylesheet" />
        <link href="/LBStore/css/base.css" rel="stylesheet" />
        <script src="/LBStore/js/jquery2.js"></script>
        <script src="/LBStore/js/jquery.form.js"></script>
        <script src="/LBStore/content/bootstrap/js/bootstrap.min.js"></script>
        <script src="/LBStore/content/bootstrap/js/bootstrap-paginator.js"></script>
        <script src="/LBStore/content/autocomplete/autocomplete.js"></script>
        <script src="/LBStore/view/common/common.js"></script>
        <script src="/LBStore/view/system/password.js"></script>
    </head>
    <body style='height:600px;'>
        <div >
            <div class="modal-body">
                <div class="content" style='margin-left: 20px;'>
                    <div class="form-group">
                        <label for="inpLoadName">登录名：</label>
                        <input type="text" id="inpLoadName" readOnly="readOnly" />
                    </div>
                    <div class="form-group">
                        <label for="inpOldPassword">原密码：</label>
                        <input type="password" id="inpOldPassword" />
                    </div>
                    <div class="form-group">
                        <label for="inpNewPassword">新密码：</label>
                        <input type="password" id="inpNewPassword" />
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" onclick="changePassword()" style='margin-left: 20px;'>保存</button>
            </div>
        </div>

    </body>
</html>
