<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/LBStore/content/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <link href="/LBStore/content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
        <link href="/LBStore/content/bootstrap/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
        <link href="/LBStore/content/autocomplete/autocomplete.css" rel="stylesheet" />
        <script src="/LBStore/js/jquery2.js"></script>
        <script src="/LBStore/js/jquery.form.js"></script>
        <script src="/LBStore/content/bootstrap/js/bootstrap.min.js"></script>
        <script src="/LBStore/content/bootstrap/js/bootstrap-paginator.js"></script>
        <script src="/LBStore/content/bootstrap/js/bootstrap-datetimepicker.min.js"></script>
        <script src="/LBStore/content/bootstrap/js/bootstrap-datetimepicker.zh-CN.js"></script>
        <script src="/LBStore/content/autocomplete/autocomplete.js"></script>
        <script src="/LBStore/view/common/common.js"></script>
        <script src="/LBStore/view/common/detail.js"></script>
        <script src="/LBStore/view/common/spesx.js"></script>
        <script src="/LBStore/view/cangKu/ruKu/ruKu.js"></script>
    </head>
    <body style='height:800px;'>
        <div style="float:left; width: 100%">
            <div style="width: 100%">
                <div style="width: 100%;float:left; padding-top: 5px;">
                    <span>&nbsp;仓库：</span><input id="selCangKu" type="text" style="width: 120px;" />
                    <span>&nbsp;流水号：</span><input id="selLsh" type="text" style="width: 120px;" />
                    <span>&nbsp;状态：</span>
                    <select id="selState" style="width: 100px; height: 26px;line-height: 26px;">
                        <option value="-9" selected = "selected">全部</option>
                        <option value="0">未入库</option>
                        <option value="1">已入库</option>
                        <option value="-1">已删除</option>
                    </select>
                    <button type="button" class="btn btn-primary btn-sm" onclick="selectRuKu();" style="margin-left: 2px;">查找</button>
                    <button type="button" class="btn btn-primary btn-sm" onclick="showSelectRuKu();" style="margin-left: 2px;">更多查找</button>
                </div>
                <div style="width: 100%;float:left; padding-top: 5px;">
                    <button type="button" class="btn btn-primary btn-sm" onclick="addRuKu();">新增入库单</button>
                </div>
            </div>
            <div id="list1" class="table-responsive" style="height: 678px;width:100%;padding-top: 5px;">
                <table id="data_table" class="table table-hover">
                    <thead>
                        <tr>
                            <th style="width:8%">仓库</th>
                            <th style="width:10%">流水号</th>
                            <th style="width:8%">供应商</th>
                            <th style="width:8%">客户</th>
                            <th style="width:15%">物资</th>
                            <th style="width:10%">入库时间</th>
                            <th style="width:8%">数量</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody id='data_table_body'>
                        <tr><td>请查询入库单记录</td></tr>
                    </tbody>
                </table>
            </div>
            <ul id="example"></ul>
        </div>

        <div class="modal fade" id="ruKuSelectModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="background: #ace1ff;height: 40px;border-top-left-radius: 6px;border-top-right-radius: 6px;padding:10px">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="ruKuSelectModel_title">查询入库单</h4>
                    </div>
                    <div class="modal-body">
                        <div class="content">
                            <div class="form-group">
                                <label for="inpSelCk">仓&ensp;&ensp;库：</label>
                                <input type="text" id="inpSelCk" />
                            </div>
                            <div class="form-group">
                                <label for="inpSelState">状&ensp;&ensp;态：</label>
                                <select id="inpSelState" style="width: 170px; height: 26px;line-height: 26px;">
                                    <option value="-9" selected = "selected">全部</option>
                                    <option value="0">未入库</option>
                                    <option value="1">已入库</option>
                                    <option value="-1">已删除</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="inpSelWz">物&ensp;&ensp;资：</label>
                                <input type="text" id="inpSelWz" />
                            </div>
                            <div class="form-group">
                                <label for="inpSelKh">客&ensp;&ensp;户：</label>
                                <input type="text" id="inpSelKh" />
                            </div>
                            <div class="form-group">
                                <label for="inpSelGys">供应商：</label>
                                <input type="text" id="inpSelGys" />
                            </div>
                            <div class="form-group">
                                <label for="inpSelRq">日&ensp;&ensp;期：</label>
                                <input type="text" id="inpSelQrq" />-<input type="text" id="inpSelZrq" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" style="text-align: center;padding: 8px;">
                        <button type="submit" class="btn btn-primary" onclick="selectRuKu_m()">确定</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="ruKuModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" style="width: 800px;">
                <div class="modal-content">
                    <div class="modal-header" style="background: #ace1ff;height: 40px;border-top-left-radius: 6px;border-top-right-radius: 6px;padding:10px">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="ruKuModel_title">添加入库单</h4>
                    </div>
                    <div class="modal-body">
                        <div class="content">
                            <div class="form-group">
                                <label for="inpCk">仓&ensp;&ensp;库：</label>
                                <input type="text" id="inpCk" />
                                <label for="inpLy">来&ensp;&ensp;源：</label>
                                <select id="inpLy" style="width: 174px; height: 26px;line-height: 26px;">
                                    <option value="供应商" selected="selected">供应商</option>
                                    <option value="客户">客户</option>
                                    <option value="生产">生产</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="rk_gys" for="inpGys">供应商：</label>
                                <input class="rk_gys" type="text" id="inpGys" />
                                <label class="rk_kh" for="inpKh">客&ensp;&ensp;户：</label>
                                <input class="rk_kh" type="text" id="inpKh" />
                                <label for="inpDh">单&ensp;&ensp;号：</label>
                                <input type="text" id="inpDh" />
                            </div>
                            <div class="form-group">
                                <label for="inpSl">数&ensp;&ensp;量：</label>
                                <input type="text" id="inpSl" />
                                <label for="inpJe">金&ensp;&ensp;额：</label>
                                <input type="text" id="inpJe" />
                            </div>
                            <div class="form-group">
                                <label for="inpRkr">入库人：</label>
                                <input type="text" id="inpRkr" />
                                <label for="inpSj">入库日：</label>
                                <input type="text" id="inpSj" />
                            </div>
                            <div id="divSpr" class="form-group">
                                <label for="inpSpr">审批人：</label>
                                <input type="text" id="inpSpr" />
                                <label for="inpSpsj">审批日：</label>
                                <input type="text" id="inpSpsj" />
                            </div>
                            <div class="form-group">
                                <label for="inpBz">备&ensp;&ensp;注：</label>
                                <input type="text" id="inpBz" style="width: 415px;"/>
                            </div>
                            <div id="divXzmx" class="form-group">
                                <button type="button" class="btn btn-primary btn-sm" onclick="addRuKuMingXi();">新增明细</button>
                            </div>
                            <div style="min-height: 100px;max-height: 300px;overflow-y: auto;">
                                <table id="tblWuZiMingXi" class="table table-hover">
                                    <thead>
                                        <tr style="background: #e9f7ff;">
                                            <th style="width:25%">名称</th>
                                            <th style="width:15%">品牌</th>
                                            <th style="width:20%">型号规格</th>
                                            <th style="width:12%">数量</th>
                                            <th style="width:12%">金额</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody id='tblWuZiMingXi_body'>
                                        <tr><td>无明细记录</td></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" style="text-align: center;padding: 8px;">
                        <button id="btnOk" type="submit" class="btn btn-primary" onclick="saveRuKu()">保存</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="ruKuMingXiModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="background: #ace1ff;height: 40px;border-top-left-radius: 6px;border-top-right-radius: 6px;padding:10px">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="ruKuMingXiModel_title">添加明细</h4>
                    </div>
                    <div class="modal-body">
                        <div class="content">
                            <div class="form-group">
                                <label for="inpMxWz">物资名称：</label>
                                <input type="text" id="inpMxWz" />
                                <label for="inpMxLb">物资类别：</label>
                                <input type="text" id="inpMxLb" />
                            </div>
                            <div id="dvMxCanKao" class="form-group">
                                <label for="inpMxCkdh">参考单号：</label>
                                <input type="text" id="inpMxCkdh" />
                                <label for="inpMxZhu" style="color: red;">&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;注：</label>
                                <label for="inpMxZhu" style="color: red;">选参考单号可获取相关信息</label>
                            </div>
                            <div class="form-group">
                                <label for="inpMxPp">品&ensp;&ensp;&ensp;&ensp;牌：</label>
                                <input type="text" id="inpMxPp" />
                                <label for="inpMxXhgg">型号规格：</label>
                                <input type="text" id="inpMxXhgg" />
                            </div>
                            <div class="form-group">
                                <label for="inpMxScc">生&ensp;产&ensp;厂：</label>
                                <input type="text" id="inpMxScc" />
                                <label for="inpMxTxm">条&ensp;形&ensp;码：</label>
                                <input type="text" id="inpMxTxm" />
                            </div>
                            <div class="form-group">
                                <label for="inpMxScc">生产日期：</label>
                                <input type="text" id="inpMxScrq" />
                                <label for="inpMxTxm">保质天数：</label>
                                <input type="text" id="inpMxBzq" />
                            </div>
                            <div class="form-group">
                                <label for="inpMxDj">单&ensp;&ensp;&ensp;&ensp;价：</label>
                                <input type="text" id="inpMxDj" />
                                <label for="inpMxDw">单&ensp;&ensp;&ensp;&ensp;位：</label>
                                <input type="text" id="inpMxDw" />
                            </div>
                            <div class="form-group">
                                <label for="inpMxSl">数&ensp;&ensp;&ensp;&ensp;量：</label>
                                <input type="text" id="inpMxSl" />
                                <label for="inpMxJlfs">记录方式：</label>
                                <select id = "inpMxJlfs" style="width: 174px;height: 26px;">
                                    <option value="pt">普通记录</option>
                                    <option value="zl">总量记录</option>
                                    <option value="mx">单元明细</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="inpMxKw">库&ensp;&ensp;&ensp;&ensp;位：</label>
                                <input type="text" id="inpMxKw" />
                                <input type="text" id="inpMxKwh" />
                            </div>
                            <div id="dvMxBzgg" class="form-group" style="display: none;">
                                <label for="inpMxBzgg">包装规格：</label>
                                <input type="text" id="inpMxBzgg" />
                                <label for="inpMxZldw">总量单位：</label>
                                <input type="text" id="inpMxZldw" />
                            </div>
                            <div id="dvMxZl" class="form-group" style="display: none;">
                                <label for="inpMxZl">总&ensp;&ensp;&ensp;&ensp;量：</label>
                                <input type="text" id="inpMxZl" />
                            </div>
                            <div id='divMxTysx'></div>
                            <div id='divMxDymx' class="form-group" style="overflow-y: auto;min-height: 50px;max-height: 250px; display: none;">
                                <label for="tblMxDymx">单元明细：</label>
                                <table id="tblMxDymx" cellspacing="0"></table>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" style="text-align: center;padding: 8px;">
                        <button id="btnMxReset" type="button" class="btn btn-primary" onclick="resetRuKuMingXi()">重置</button>
                        <button id="btnMxOk" type="submit" class="btn btn-primary" onclick="saveRuKuMingXi()">保存</button>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="modal fade" id="ruKuFeiModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div  id="ruKuFeiModalDlg" class="modal-dialog" style="width: 800px;">
                <div class="modal-content">
                    <div class="modal-header" style="background: #ace1ff;height: 40px;border-top-left-radius: 6px;border-top-right-radius: 6px;padding:10px">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="ruKuFeiModel_title">发货收款记录</h4>
                    </div>
                    <div class="modal-body" style="height: 400px;padding:0;">
                        <div style="width: 100%;float:left;padding-top: 5px;padding-left: 5px;">
                            <button type="button" class="btn btn-primary btn-sm" onclick="addRuKuFei(0);">新增记录</button>
                            <button type="button" class="btn btn-primary btn-sm" onclick="addRuKuFei(1);">一次结清</button>
                            <span id="ruKuJexx"></span>
                        </div>
                        <div class="content" style="width: 100%;float:left;padding-top: 5px;">
                            <table id="tblRuKuFei" class="table table-hover">
                                <thead>
                                    <tr style="background: #e9f7ff;">
                                        <th>日期</th>
                                        <th>金额</th>
                                        <th>收款人</th>
                                        <th>备注</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody id='tblRuKuFei_body'>
                                    <tr><td>无收款记录</td></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <ul id="example2"></ul>
                </div>
            </div>
        </div>

        <div class="modal fade" id="ruKuFeiEditModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="background: #ace1ff;height: 40px;border-top-left-radius: 6px;border-top-right-radius: 6px;padding:10px">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="ruKuFeiEditModel_title">新增记录</h4>
                    </div>
                    <div class="modal-body">
                        <div class="content">
                            <div class="form-group">
                                <label for="inpFeiRq">日&ensp;&ensp;期：</label>
                                <input type="text" id="inpFeiRq"/>
                            </div>
                            <div class="form-group">
                                <label for="inpFeiJe">金&ensp;&ensp;额：</label>
                                <input type="text" id="inpFeiJe" />
                            </div>
                            <div class="form-group">
                                <label for="inpFeiSkr">付款人：</label>
                                <input type="text" id="inpFeiSkr" />
                            </div>
                            <div class="form-group">
                                <label for="inpFeiBz">备&ensp;&ensp;注：</label>
                                <input type="text" id="inpFeiBz" style="width: 415px;"/>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" style="text-align: center;padding: 8px;">
                        <button type="submit" class="btn btn-primary" onclick="saveRuKuFei()">保存</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
