<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/LBStore/content/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <link href="/LBStore/content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
        <link href="/LBStore/content/bootstrap/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
        <link href="/LBStore/content/autocomplete/autocomplete.css" rel="stylesheet" />
        <link href="/LBStore/css/base.css" rel="stylesheet" />
        <script src="/LBStore/js/jquery2.js"></script>
        <script src="/LBStore/js/jquery.form.js"></script>
        <script src="/LBStore/content/bootstrap/js/bootstrap.min.js"></script>
        <script src="/LBStore/content/bootstrap/js/bootstrap-paginator.js"></script>
        <script src="/LBStore/content/bootstrap/js/bootstrap-datetimepicker.min.js"></script>
        <script src="/LBStore/content/bootstrap/js/bootstrap-datetimepicker.zh-CN.js"></script>
        <script src="/LBStore/content/autocomplete/autocomplete.js"></script>
        <script src="/LBStore/view/common/common.js"></script>
        <script src="/LBStore/view/common/detail.js"></script>
        <script src="/LBStore/view/common/spesx.js"></script>
        <script src="/LBStore/view/xiangMu/xiangMuDetail/xiangMuDetail.js"></script>
    </head>
    <body style='height:800px;'>
        <div style="float:left; width: 100%">
            <div style="width: 100%">
                <div style="width: 100%;float:left; padding-top: 5px;">
                    <span>&nbsp;名称：</span><input id="selMc" type="text" style="width: 120px;" />
                    <span>&nbsp;产品：</span><input id="selWzmc" type="text" style="width: 120px;" />
                    <span>&nbsp;流水号：</span><input id="selLsh" type="text" style="width: 120px;" />
                    <span>&nbsp;状态：</span>
                    <select id="selState" style="width: 100px; height: 26px;line-height: 26px;">
                        <option value="-9" selected = "selected">全部</option>
                        <option value="0">未审批</option>
                        <option value="1">已审批</option>
                        <option value="2">已完成</option>
                        <option value="3">已交货</option>
                        <option value="4">已终止</option>
                        <option value="-1">已删除</option>
                    </select>
                    <button type="button" class="btn btn-primary btn-sm" onclick="selectXiangMuDetail();" style="margin-left: 2px;">查找</button>
                    <button type="button" class="btn btn-primary btn-sm" onclick="showXiangMuDetail_m();" style="margin-left: 2px;">更多查找</button>
                </div>
            </div>
            <div id="list1" class="table-responsive" style="height: 678px;width:100%;padding-top: 5px;">
                <table id="data_table" class="table table-striped table-bordered table-hover table-list" style="table-layout:fixed;">
                    <thead>
                        <tr style="background: #e9f7ff;">
                            <th style="width:8%">项目名称</th>
                            <th style="width:10%">项目流水号</th>
                            <th style="width:8%">客户</th>
                            <th style="width:10%">流水号</th>
                            <th style="width:8%">产品</th>
                            <th style="width:8%">型号规格</th>
                            <th style="width:10%">数量</th>
                            <th style="width:10%">单价</th>
                            <th style="width:10%">金额</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody id='data_table_body'>
                        <tr><td colspan="10">请查询项目明细记录</td></tr>
                    </tbody>
                </table>
            </div>
            <ul id="example"></ul>
        </div>

        <div class="modal fade" id="xiangMuDetailSelectModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="background: #ace1ff;height: 40px;border-top-left-radius: 6px;border-top-right-radius: 6px;padding:10px">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="xiangMuDetailSelectModel_title">查询项目明细</h4>
                    </div>
                    <div class="modal-body">
                        <div class="content">
                            <div class="form-group">
                                <label for="inpSelState">状&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;态：</label>
                                <select id="inpSelState" style="width: 170px; height: 26px;line-height: 26px;">
                                    <option value="-9" selected = "selected">全部</option>
                                    <option value="0">未审批</option>
                                    <option value="1">已审批</option>
                                    <option value="2">已完成</option>
                                    <option value="3">已交货</option>
                                    <option value="4">已终止</option>
                                    <option value="-1">已删除</option>
                                </select>
                            </div>                            
                            <div class="form-group">
                                <label for="inpSelKh">客&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;户：</label>
                                <input type="text" id="inpSelKh" />
                            </div>
                            <div class="form-group">
                                <label for="inpSelXmmc">项目名称&ensp;&ensp;：</label>
                                <input type="text" id="inpSelXmmc" />
                            </div>
                            <div class="form-group">
                                <label for="inpSelXmlsh">项目流水号：</label>
                                <input type="text" id="inpSelXmlsh" />
                            </div>
                            <div class="form-group">
                                <label for="inpSelWz">产&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;品：</label>
                                <input type="text" id="inpSelWz" />
                            </div>
                            <div class="form-group">
                                <label for="inpSelLsh">流&ensp;&ensp;水&ensp;&ensp;号：</label>
                                <input type="text" id="inpSelLsh" />
                            </div>
                            <div class="form-group">
                                <label for="inpSelRq">开&ensp;&ensp;单&ensp;&ensp;日：</label>
                                <input type="text" id="inpSelQrq" />-<input type="text" id="inpSelZrq" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" style="text-align: center;padding: 8px;">
                        <button type="submit" class="btn btn-primary" onclick="selectXiangMuDetail_m()">确定</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="xiangMuDetailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="background: #ace1ff;height: 40px;border-top-left-radius: 6px;border-top-right-radius: 6px;padding:10px">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="xiangMuDetailModal_title">项目明细</h4>
                    </div>
                    <div class="modal-body">
                        <div class="content">
                            <div class="form-group">
                                <label for="inpWzbm">产品编码：</label>
                                <input type="text" id="inpWzbm" />
                                <label for="inpWz">产品名称：</label>
                                <input type="text" id="inpWz" />
                            </div>
                            <div class="form-group">
                                <label for="inpLb">产品类别：</label>
                                <input type="text" id="inpLb" />
                                <label for="inpXhgg">型号规格：</label>
                                <input type="text" id="inpXhgg" />
                            </div>
                            <div class="form-group">
                                <label for="inpDj">单&ensp;&ensp;&ensp;&ensp;价：</label>
                                <input type="number" id="inpDj" />
                                <label for="inpDw">单&ensp;&ensp;&ensp;&ensp;位：</label>
                                <input type="text" id="inpDw" />
                            </div>
                            <div class="form-group">
                                <label for="inpJhsl">数&ensp;&ensp;&ensp;&ensp;量：</label>
                                <input type="number" id="inpJhsl" />
                                <label class="item-view" for="inpLsh">流&ensp;水&ensp;号：</label>
                                <input class="item-view" type="number" id="inpLsh" />
                            </div>
                            <div class="form-group item-view">
                                <label for="inpWcsj">完成时间：</label>
                                <input type="text" id="inpWcsj" />
                                <label for="inpWcsl">完成数量：</label>
                                <input type="number" id="inpWcsl" />
                            </div>
                            <div class="form-group item-view">
                                <label for="inpFhsj">发货时间：</label>
                                <input type="text" id="inpFhsj" />
                                <label for="inpFhsl">发货数量：</label>
                                <input type="number" id="inpFhsl" />
                            </div>
                            <div class="form-group">
                                <label for="inpBz">备&ensp;&ensp;&ensp;&ensp;注：</label>
                                <input type="text" id="inpBz" style="width: 425px;"/>
                            </div>
                            <div class="form-group">
                                <label for="inpXq">项目需求：</label>
                            </div>
                            <div id='divTysx'></div>
                        </div>
                    </div>
                    <div class="modal-footer" style="text-align: center;padding: 8px;">
                        <label class="bb-element"  for="inpSelBb">报表：</label>
                        <input class="bb-element" type="text" id="inpSelBb" />
                        <button id="btnBb" type="submit" class="bb-element btn btn-primary" onclick="execBaoBiao()">执行</button>
                        <button id="btnFinish" type="submit" class="btn btn-primary" onclick="wancXiangMuDetail()">完成</button>
                        <button id="btnStop" type="submit" class="btn btn-primary" onclick="stopXiangMuDetail()">终止</button>
                        <button id="btnOk" type="submit" class="btn btn-primary" onclick="saveXiangMuDetail()">保存</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="xiangMuFeiModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div  id="xiangMuFeiModalDlg" class="modal-dialog" style="width: 800px;">
                <div class="modal-content">
                    <div class="modal-header" style="background: #ace1ff;height: 40px;border-top-left-radius: 6px;border-top-right-radius: 6px;padding:10px">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="xiangMuFeiModel_title">收款记录</h4>
                    </div>
                    <div class="modal-body" style="height: 400px;padding:0;">
                        <div style="width: 100%;float:left;padding-top: 5px;padding-left: 5px;">
                            <button type="button" class="btn btn-primary btn-sm" onclick="addXiangMuFei(0);">新增记录</button>
                            <button type="button" class="btn btn-primary btn-sm" onclick="addXiangMuFei(1);">一次结清</button>
                            <span id="xiangMuJexx"></span>
                        </div>
                        <div class="content" style="width: 100%;float:left;padding-top: 5px;">
                            <table id="tblXiangMuFei" class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr style="background: #e9f7ff;">
                                        <th>日期</th>
                                        <th>金额</th>
                                        <th>收款人</th>
                                        <th>备注</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody id='tblXiangMuFei_body'>
                                    <tr><td>无收款记录</td></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <ul id="example2"></ul>
                </div>
            </div>
        </div>

        <div class="modal fade" id="xiangMuFeiEditModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="background: #ace1ff;height: 40px;border-top-left-radius: 6px;border-top-right-radius: 6px;padding:10px">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="xiangMuFeiEditModel_title">新增记录</h4>
                    </div>
                    <div class="modal-body">
                        <div class="content">
                            <div class="form-group">
                                <label for="inpFeiRq">日&ensp;&ensp;期：</label>
                                <input type="text" id="inpFeiRq"/>
                            </div>
                            <div class="form-group">
                                <label for="inpFeiJe">金&ensp;&ensp;额：</label>
                                <input type="number" id="inpFeiJe" />
                            </div>
                            <div class="form-group">
                                <label for="inpFeiSkr">收款人：</label>
                                <input type="text" id="inpFeiSkr" />
                            </div>
                            <div class="form-group">
                                <label for="inpFeiBz">备&ensp;&ensp;注：</label>
                                <input type="text" id="inpFeiBz" style="width: 415px;"/>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" style="text-align: center;padding: 8px;">
                        <button type="submit" class="btn btn-primary" onclick="saveXiangMuFei()">保存</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="baoBiaoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" style="width: 100%">
                <div class="modal-content">
                    <div class="modal-header" style="background: #ace1ff;height: 40px;border-top-left-radius: 6px;border-top-right-radius: 6px;padding:10px">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="baoBiaoModel_title">执行报表</h4>
                    </div>
                    <div id="dvBbnr" class="modal-body" style="height:700px;padding: 0;overflow-y: auto;">

                    </div>
                </div>
            </div>
        </div>

    </body>
</html>
